.image-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  padding: 12px;
  margin: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  & > .title {
    font-size: 18px;
    width: 326px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  & > .actions {
    padding: 4px;
  }
}
